.has-danger .form-control {
  border-color: #d9534f;
}
.form-control-danger, .form-control-success, .form-control-warning {
  padding-right: 2.25rem;
  background-repeat: no-repeat;
  background-position: center right .625rem;
  background-size: 1.25rem 1.25rem;
}
.has-danger .form-feedback {
  color: #d9534f;
}
.form-feedback {
  margin-top: .25rem;
}
