{% extends 'base.html' %}
{% load form_filters %}

{% block navbar %}
<li><a href="{% url 'core:list_issues' %}">Relatórios</a></li>
<li class="active"><a href="{% url 'core:manage_issues' %}">Novo Chamado</a></li>
{% endblock %}

{% block content %}
  <h1 class="page-header">Novo Chamado</h1>
  <form action="{% url 'core:manage_issues' %}" method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group {% if field.errors %}has-danger{% endif %}">
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>

      {% if field.errors %}
        {% for error in field.errors %}
        {{ field|css_class:'form-control form-control-danger' }}
        <div class="form-feedback">{{ error|escape }}</div>
        {% endfor %}
      {% else %}
        {{ field|css_class:'form-control' }}
      {% endif %}

      <small class="form-text text-muted">{{ field.help }}</small>
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Salvar</button>
  </form>
{% endblock %}
