{% extends 'base.html' %}
{% block navbar %}
<li class="active"><a href="{% url 'core:list_issues' %}">Relatórios</a></li>
<li><a href="{% url 'core:manage_issues' %}">Novo Chamado</a></li>
{% endblock %}

{% block content %}
  <h1 class="page-header">Relatório</h1>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        {% for date_group in object_list %}
        <tr>
          <td>
            {{ date_group.created_at }}
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Estado</th>
                </tr>
              </thead>
              <tbody>
              {% for location_group in date_group.items %}
                <tr>
                  <td>
                    {{ location_group.location }}
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Assunto</th>
                          <th>Origem</th>
                          <th>Descrição</th>
                          <th>Ação</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for issue in location_group.items %}
                        <tr>
                          <td>{{ issue.subject }}</td>
                          <td>{{ issue.source }}</td>
                          <td>{{ issue.description }}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
