<!DOCTYPE html>
<html lang="pt">
  <head>
    {% include 'includes/head_tags.html' %}
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">SAC - Serviço de Atendimento ao Cliente</a>
        </div>
      </div>
    </nav>
    <div class="container -fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            {% block navbar %}
            <li class="active"><a href="{% url 'core:list_issues' %}">Relatórios</a></li>
            <li><a href="{% url 'core:manage_issues' %}">Novo Chamado</a></li>
            {% endblock %}
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        {% block content %}
        <h1 class="page-header">Dashboard</h1>
        {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
